<div ng-cloak>
    <md-content>
        <md-nav-bar nav-bar-aria-label="navigation links" md-selected-nav-item="currentNavItem" class="navigator">
            <md-button class="header" href="/">
                <md-icon md-svg-icon="logo" class="icon" style="color:#000;" aria-label="Home"></md-icon>
            </md-button>
            <div style="display: flex">
                <md-nav-item class="header" ng-repeat="x in $ctrl.pages" md-nav-click="$ctrl.goto(x)" name="{{x}}">
                    {{x}}
                </md-nav-item>
            </div>
            <!-- these require actual routing with ui-router or ng-route, so they
            won't work in the demo
            <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
            <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
            You can also add options for the <code>ui-sref-opts</code> attribute.
            <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
              Page Six
            </md-nav-item>
            -->
        </md-nav-bar>
        <div class="hiddenDiv"></div>
    </md-content>
</div>
