<div ng-cloak>
    <md-content>
        <md-nav-bar nav-bar-aria-label="navigation links" md-selected-nav-item="currentNavItem" class="navigator">
            <md-button class="header" href="/home">
                <md-icon md-svg-icon="logo" class="icon" style="color:#000;" aria-label="Home"></md-icon>
            </md-button>
            <div style="display: flex">
                <md-nav-item class="header" ng-repeat="x in $ctrl.pages" md-nav-click="$ctrl.goto(x)" name="{{x}}">
                    {{x}}
                </md-nav-item>
            </div>
        </md-nav-bar>
        <div class="hiddenDiv"></div>
    </md-content>
</div>
