doctype html
html
    head
        title= "Tu Salud"
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEhEsnLzJBzmcA0RWNMiuRRHi3khQplMw&callback=initMap&libraries=&v=weekly" async)
        script(src="javascripts/ng-map.min.js")
        link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css')
        script(src="components/app.js")
        script(src="components/header/header.js")
        script(src="components/form/form.js")
        script(src="components/dynamicForm/dynamicForm.js")
        script(src="components/requestForm/requestForm.js")
        script(src="components/saludTable/saludTable.js")
        script(src="components/dialog/dialog.js")
        script(src="components/sidebar/sidebar.js")
        script(src="components/maps/maps.js")
        script(src="components/patientsInfo/patientsInfo.js")
        script(src="components/accountInfo/accountInfo.js")
        link(rel='stylesheet', href='components/app.css')
        link(rel="icon" href="images/logo.svg")
    body(ng-app="componentApp")

    header-app(usertype= user, page= currentpage)
    div(class="principal")
        sidebar(name= username)
        block content
