<form name="appForm" class="appForm">
    <span class="md-headline">{{$ctrl.ftype | uppercase}} FORM</span>
    <div layout-gt-xs="row" ng-repeat="formElement in $ctrl.inputs">
        <md-input-container class="md-block" flex-gt-xs>
            <label>{{formElement.name | uppercase}}</label>
            <input ng-required="true" min="0" md-no-asterisk type="{{formElement.type}}" ng-model="datos[formElement.name]" name="{{formElement.name}}" ng-keyup="$ctrl.enableButton()">
        </md-input-container>
    </div>
    <div style="text-align: end;">
        <md-button ng-click='$ctrl.change()'>{{$ctrl.button}}</md-button>
        <md-button ng-disabled="!enabled" class="md-raised md-primary" ng-click='$ctrl.sendData($event)'>{{$ctrl.ftype}}</md-button>
    </div>
</form>