.saludNavbar md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
}

._md-nav-bar-list {
    justify-content: space-between;
}

.md-nav-bar {
    height: auto;
}

.navigator {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10000;
}

.hiddenDiv {
    height: 50px;
}

.header {
    padding: 0;
    margin: 0 8px;
}

.icon {
    margin: 0;
    width: 100px;
    height: 50px;
}

.icon md-progress-circular {
    margin-bottom: 20px;
}

.icon .demo-content {
    min-height: 210px;
}

.icon .appUsingTemplateCache {
    padding: 25px;
}

.icon .note {
    font-size: 12px;
    display: block;
    margin-top: -2px;
    padding-left: 25px;
    color: #7f7e7e;
}

md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
    color: rgb(4, 188, 0);
    background: rgb(4, 188, 0);
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background: rgb(4, 188, 0);
}

.md-button.md-default-theme.md-accent, .md-button.md-accent {
    color: rgb(4, 188, 0);
}

.appForm {
    width: 500px;
    margin: 50px auto;
}

.md-button.md-primary.md-raised, .sign-out {
    color: rgb(255, 255, 255);
    background: rgb(4, 188, 0);
}

.md-button.md-raised[disabled] {
    background-color: rgba(0, 0, 0, 0.12);
}

.error md-input-container > p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}

.md-sidenav-left, md-sidenav {
    top: 50px;
}

.menu, md-backdrop.md-sidenav-backdrop {
    position: fixed;
}

.menuButton {
    min-width: 0;
}

.sign-out:hover {
    background: rgb(255, 0, 0) !important;
}

.principal {
    display: flex;
}

.margin-auto {
    margin: auto;
}

.table-content {
    width: 60vw;
}

.table-item {
    box-shadow: 0 0 5px 1px rgba(0,0,0,.26);
    width: 80%;
    margin: auto;
    border: solid thin rgba(0,0,0,0.12);
}