<md-button ng-click="$ctrl.toggleBar()" class="md-raised md-primary menu menuButton">
    <md-icon md-svg-src="right-arrow" aria-label="right"></md-icon>
</md-button>
<md-sidenav class="md-sidenav-left menu" md-component-id="menuButton"
            md-whiteframe="4" md-disable-close-events>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">{{$ctrl.name}}</h1>
            <md-button ng-click="$ctrl.toggleBar()" class="md-raised md-primary menuButton">
                <md-icon md-svg-src="left-arrow" aria-label="left"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-margin="" style="text-align: center;">
        <p>
            ¿Dejar la sesion?
        </p>
        <md-button ng-click="$ctrl.signOut()" class="sign-out md-raised md-primary">
            Deconexion
        </md-button>
    </md-content>
</md-sidenav>