<md-content>
    <md-list>
        <md-list-item class="md-3-line table-item" ng-repeat="item in $ctrl.responses">
            <div class="md-list-item-text">
                <h2 style="margin: auto; font-style: italic;">{{item.disease}}</h2>
                <h4>{{item.date}}</h4>
                <p>{{item.statusmes}}</p>
            </div>
            <md-button ng-if="item.status" class="md-raised md-secondary" ng-click="$ctrl.showDetails(item, $event)">
                more details
            </md-button>
            <md-button ng-if="$ctrl.currentPage == 'homePaciente'" class="md-raised md-secondary" ng-click="$ctrl.goto()">
                more details
            </md-button>
            <md-divider ng-if="!$last"></md-divider>
            <dialog ng-if="item.status" title="item.disease"></dialog>
        </md-list-item>
    </md-list>
</md-content>